{{template "header" .Page}}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form action="/advanced" method="get">
          <div class="form-group form-inline">
            <!-- <form class="form-inline my-2 my-lg-0"> -->
              <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{.Search}}">
            <!-- </form> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="contextDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-object-group"></i> Context
              </a>
              <!-- Context drop down -->
              <div class="dropdown-menu">
                <div class="form-group">
                  {{range $ctx, $set := .Contexts}}
                  <div class="form-check dropdown-item">
                    <label class="form-check-label" for="item-{{$ctx}}">
                    <input type="checkbox" class="form-check-input" id="item-{{$ctx}}" name="context" value="{{$ctx}}"{{if $set}} checked{{end}}>
                      {{$ctx}}
                    </label>
                  </div>
                  {{end}}
                </div>
              </div>
            </li>
            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <input class="form-control form-control-sm mr-sm-2 bg-light" type="search" placeholder="Namespace" aria-label="Namespace" name="namespace" value="{{.Namespace}}">
            <!-- </form> -->
            <button type="submit" class="btn btn-sm btn-primary">Apply</button>
          </div>
        </form>

      </ul>
      <!-- <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-sort"></i> Sort
        </a>
      </div> -->
    </div>
  </nav>
</div>

<!-- <br> -->

<div class = "container">
  <div class="row mt-5">
    {{range .Cronjobs}}

    <div class="card {{if eq "running" .LastRun}}border-info{{else if .Suspend}}border-warning{{else if eq "failed" .LastRun}}border-danger{{end}} mx-2 mb-3">
      <div class="card-header">
        <a href="/cronjob/{{.Context}}/{{.Namespace}}/{{.Name}}">{{ .Name}}</a> <span class="text-right"><i class="fa fa-star-o"></i></span><br>
      <small>{{.Context}} | {{.Namespace}}</small>
      </div>
      <div class="card-body">
        <p class="card-text">
          Active: {{.Active}}<br>
          Suspend: {{.Suspend}}<br>
          Last run: {{.LastRun}}
        </p>
      </div>
    </div>
    {{end}}

  </div>
</div>
{{template "footer"}}
