{{template "header" .Page}}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form action="/" method="get">
          <div class="form-group form-inline">
            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{.Search}}">
            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <input class="form-control form-control-sm mr-sm-2 bg-light" type="search" placeholder="Namespace" aria-label="Namespace" name="namespace" value="{{.Namespace}}">
            <!-- </form> -->
            <!-- Default columns -->
            {{range $label, $val := .DefaultColumns}}
            <div class="form-group">
              <label for="defaultcol-{{$label}}">{{$label | Title}}: </label>
              <input class="form-control form-control-sm mr-sm-2 bg-light" type="search" aria-label="{{$label | Title}}" name="{{$label}}" value="{{$val}}" id="defaultcol-{{$label}}">
            <div>
            {{end}}
            <button type="submit" class="btn btn-sm btn-primary">Apply</button>
          </div>
        </form>

      </ul>
    </div>
  </nav>
</div>

<!-- <br> -->

<div class = "container">
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Context</th>
          <th scope="col">Namespace</th>
          <th scope="col">Suspend</th>
          <th scope="col">Active</th>
          <th scope="col">Last Run</th>
          {{range $label, $_ := .DefaultColumns}}
          <th scope="col">{{$label | Title}}</th>
          {{end}}
        </tr>
      </thead>
      <tbody>
      {{range .Cronjobs}}
        <tr>
          <td><a href="/cronjob/{{.Context}}/{{.Namespace}}/{{.Name}}">{{.Name}}</a></td>
          <td>{{.Context}}</td>
          <td>{{.Namespace}}</td>
          <td>{{.Suspend}}</td>
          <td>{{.Active}}</td>
          <td>{{.LastRun}}</td>
          {{with $labels := .Labels}}
            {{range $label, $_ := $.DefaultColumns}}
              <td>{{index $labels $label}}</td>
            {{end}}
          {{end}}
        </tr>
      {{end}}
      </tbody>
  </div>
</div>
{{template "footer"}}
