{{template "header" .Page}}
{{with .Details}}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{.Context}}</li>
      <li class="breadcrumb-item">{{.Namespace}}</li>
      <li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
    </ol>
  </nav>

  <div id="alerts"></div>

  <div class="clearfix">
    <h1 class="float-left">{{.Name}}</h1>
    <p class="float-right">
      {{if .Suspend}}
      <a class="btn btn-success"  href="/unsuspend/{{.Context}}/{{.Namespace}}/{{.Name}}">Unsuspend</a>
      {{else}}
      <a class="btn btn-warning"  href="/suspend/{{.Context}}/{{.Namespace}}/{{.Name}}">Suspend</a>
      {{end}}
      <a class="btn btn-dark" href="/execute/{{.Context}}/{{.Namespace}}/{{.Name}}">Manual Run</a>
    </p>
  </div>
  <dl>
    <dt>Schedule</dt>
    <dd><code>{{.Schedule}}</code></dd>

    <dt>Suspended</dt>
    <dd>{{.Suspend}}</dd>

    <dt>Template <a data-toggle="collapse" href="#template" aria-expanded="false" aria-controls="template"><i class="fa fa-compress"></i></a></dt>
    <dd>
      <div class="collapse" id="template">
        <div class="card card-body bg-dark">
          <pre><code class="text-white">{{.Template}}</code></pre>
        </div>
      </div>
    </dd>

    <dt>Last schedule</dt>
    <dd>{{.LastSchedule}}</dd>

    <dt>Recent runs</dt>
    <dd>
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">Status</th>
            <th scope="col">End</th>
          </tr>
        </thead>
        <tbody>
          {{range .Runs}}
            <tr>
              <td><a href="/run/{{$.Details.Context}}/{{$.Details.Namespace}}/{{$.Details.Name}}/{{.Name}}">{{.Name}}</a></td>
              <td>{{.Start}}</td>
              <td>{{.Status}}</td>
              <td>{{.End}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </dd>
  </dl>
</div>
{{end}}
{{template "footer"}}
