{{template "header" .Page}}
{{with .Details}}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{.Context}}</li>
      <li class="breadcrumb-item">{{.Namespace}}</li>
      <li class="breadcrumb-item">{{.Cronjob}}</li>
      <li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
    </ol>
  </nav>

  <h1>{{.Name}}</h1>
  <dl>
    <dt>Cronjob</dt>
    <dd><a href="/cronjob/{{.Context}}/{{.Namespace}}/{{.Cronjob}}">{{.Cronjob}}</a></dd>

    <dt>Logs</dt>
    <dd>
      {{range .Pods}}
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{.Name}}-collapse" aria-expanded="true" aria-controls="{{.Name}}-collapse">
                {{.Name}}
              </button>
            </h2>
          </div>
          <div id="{{.Name}}-collapse" class="collapse show">
            <div class="card-body bg-dark">
              <pre><code class="text-white">{{.Logs}}</code></pre>
            </div>
          </div>
        </div>
      {{end}}
    </dd>
  </dl>
</div>
{{end}}
{{template "footer"}}
